.header-container{
    background-color: #1C2B35;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    margin: 0px 100px;   
}
.header-info a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 32px;
}
.header-info a:hover{
    color: orangered;
}