.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.Shop-add{   
    margin-left: 100px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}


/* order-view */
.order-summary{  
    background: rgba(255, 153, 0, 0.3);
}
.order-summary h2{
    text-align: center;
    font-size: 25px;
}
.order-view{
    margin-top: 55px;
    margin-left: 10px;
}